.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
select {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

option {
  font-size: 16px;
}

.country-info {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}
img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 97px; */
  border-radius: 5px;
}

p {
  font-size: 18px;
  margin-top: 10px;
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}
